body {
    margin: 0;
    background: linear-gradient(to bottom, rgba(27, 27, 46, 1) 0%, rgba(27, 27, 46, 1) 1%, rgba(231, 232, 234, 1) 36%, rgba(231, 232, 234, 1) 100%);
    font-family: 'Oxygen', sans-serif;
}

.section-head {
    width: 100%;
    height: 542px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.section-head__header {
    width: 1000px;
    height: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__links {
    width: 524px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__links_link {
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition: .5s;
}

.header__links_link:hover {
    background-color: white;
    color: #1b1b2d;
}

.section-head__content {
    width: 1000px;
    height: 395px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-head__content_banner {
    width: 733px;
    height: 396px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-head__content_banner_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 220px;
    height: 220px;
    color: white;
    margin-bottom: 100px;
}

.section-head__content_banner_info-text {
    font-size: 21px;
}

.content-banner__title {
    font-size: 45px;
    text-transform: uppercase;
}

.content-banner__subtitle {
    font-size: 39px;
    font-weight: bold;
}

.section-head__content_banner_info-button {
    width: 179px;
    height: 43px;
    border: 1px solid #6e9ad8;
    background: linear-gradient(to bottom, rgba(44, 105, 190, 1) 0%, rgba(44, 105, 190, 1) 1%, rgba(23, 65, 131, 1) 100%);
    border-radius: 7px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin-top: 34px;
    box-shadow: 0px 60px 50px 1px black;
}

.section-head__arrow_left {
    background-image: url(/Image/1.Home/arrow-left.png);
}

.section-head__arrow_right {
    background-image: url(/Image/1.Home/arrow-right.png);
}

.section-head__arrow {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.694);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: .2s;
}

.section-head__arrow:hover {
    transform: scale(1.2);
}

.section-boxs {
    width: 100%;
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-boxs__briks {
    width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-boxs__briks_brik {
    width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 3px solid white;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(240, 242, 245, 1) 0%, rgba(229, 229, 231, 1) 79%, rgba(226, 226, 227, 1) 100%);
    box-shadow: 0 -2px 15px 1px gray;
    box-sizing: border-box;
    transition: .3s;
    cursor: pointer;
    color: grhead
}

.section-boxs__briks_brik:hover {
    transform: scale(1.1);
    margin-bottom: 20px;
    box-shadow: 0 10px 15px 10px black;
}

.section-boxs__briks_brik_one {
    width: 95%;
    height: 80%;
    position: static;
    margin-left: 18px;
}

.section-catagary {
    width: 100%;
    height: 193px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-catagary__area {
    width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-catagary__area_block {
    width: 305px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
}

.catagary__block_head {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 40px;
}

.catagary__block_head_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
}

.catagary__block_head_text-subtitle {
    color: #5f7390;
}

.section-catagary__area_block_info {
    margin-top: 25px;
}

.section-news-slider {
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-news-slider__content {
    width: 676px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, rgba(231, 232, 234, 1) 0%, rgba(231, 232, 234, 1) 1%, rgba(255, 255, 255, 1) 49%, rgba(231, 232, 234, 1) 100%);
}

.news-img {
    cursor: pointer;
    transition: .2s;
}

.news-img:hover {
    transform: scale(1.3);
}

.news-text {
    text-align: center;
}

.news-text_blue {
    color: #5f7390
}

.section-product {
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-product__area {
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-product__area_head {
    width: 415px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.section-product__area_head-title {
    color: gray;
    font-size: 23px;
}

.section-product__area_head-subtitle {
    color: #5f7390;
}

.product-img {
    margin-bottom: 58px;
}

.section-product__area_content {
    width: 100%;
    height: 295px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-product__area_content_info {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-info {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.product-info__content>img {
    transition: .3s;
    cursor: pointer;
}

.product-info__content>img:hover {}

.product-info__content {
    width: 100%;
    height: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product-info__content-text {
    font-size: 15px;
    color: gray;
    margin-left: 12px;
}

.product-info__content_text-more {
    width: 100%;
    height: 0;
    display: none;
    transition: 1.5s;
}

.product-info__buttons {
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: center;
}

.product-info__buttons-button {
    width: 130px;
    height: 34px;
    outline: none;
    border: #6e9ad8;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(44, 105, 190, 1) 0%, rgba(44, 105, 190, 1) 1%, rgba(23, 65, 131, 1) 100%);
    color: white;
    cursor: pointer;
    margin: 0 10px;
}

.section-news-accordian {
    height: 180px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-news-accordian__area {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.news-accordian {
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 37px;
    width: 100%;
    color: gray;
}

.news-accordian:last-child {
    border: none;
}

.news-accordian__img {
    padding: 0 15px;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 290px;
    background-color: #363647;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__area {
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer__head {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #9999a3;
    font-size: 14px;
    border-top: 1px solid #9999a3;
    border-bottom: 1px solid #9999a3;
}

.footer__head_info {}

.footer__content {
    width: 100%;
    height: 205px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.new-sheltter {
    width: 418px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.new-sheltter__title {
    color: white;
    font-size: 23px;
    margin-left: 33px;
}

.contact-form {
    width: 476px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.new-sheltter__info {
    color: #9999a3;
    font-size: 14px;
    margin-left: 33px;
}

.new-sheltter__subscribe {
    width: 100%;
    height: 27px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.new-sheltter__subscribe_input {
    background-color: #212134;
    border-radius: 5px;
    width: 210px;
    outline: none;
    color: #4b4b5c;
    border: none;
    height: 100%;
    caret-color: white;
}

.new-sheltter__subscribe_button {
    width: 85px;
    height: 100%;
    color: #363647;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.new-sheltter__social {
    width: 147px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

.new-sheltter__social>img {
    cursor: pointer;
    transition: .2s;
}

.new-sheltter__social>img:hover {
    transform: scale(1.1);
}

.contact-form__inputs {
    width: 212px;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-form__inputs>input {
    width: 100%;
    height: 28px;
    outline: none;
    border: none;
    background-color: #212134;
    border-radius: 5px;
    color: #5f7390;
    caret-color: white;
}

.contact-form__sub {
    width: 190px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 38px;
}

.contact-form__sub>textarea {
    width: 100%;
    height: 105px;
    border-radius: 5px;
    background-color: #212134;
    border: none;
    outline: none;
    caret-color: white;
    color: #5f7390;
    resize: none;
}

.contact-form__sub>button {
    width: 85px;
    height: 26px;
    color: #363647;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}